# Folders
/build
/dist
/discloud
/deprecated
/node_modules
/web/.next
.next
/.vscode

# Files
/.env
/.env.dev
/.env.development

# Config files
/firebase.json

# Extensions
*.zip
*.sqlite
*.sql
*.exe
*.db
*.development.json

# Docs
/GEMINI.md
/RELEMBRE.txt
.vercel
.env*.local
